<header class="gradient">
	<span class="head-span home">Home</span>
	<span class="head-span about">About</span>
	<span class="head-span port">Portfolio</span>
	<span class="head-span blog">Blog</span>
	<span class="head-span contact">Contact</span>
</header>
<div class="pageintro">
	<h1 class="page-title">ExamplePage</h1>
	<h3 class="page-about">Lorem ipsum dolor sit amet, ceteros perpetua vim id.</h3>
	
</div>
<img class="twitter-bird" src="img/bird.png" alt="">
	<div class="flexslider">
  		<ul class="slides">
    		<li>
      			<img src="img/slide1.jpg" />
    		</li>
   			<li>
    			<img src="img/slide2.jpg" />
   			</li>
   			<li>
    			<img src="img/slide3.jpg" />
   			</li>
  		</ul>
	</div>
<div>
	<h1>Tangentially-Related Content</h1>
	<p>Lorem ipsum dolor sit amet, usu te quem persius docendi, in phaedrum torquatos ius. Eu sea purto duis efficiantur. Mazim timeam sed et, eu eos etiam deleniti, ut solet aliquip vituperata duo. Id novum conceptam ius, ut vidit maiestatis quaerendum vel. Erat petentium vis ne, vim in repudiare 	   referrentur. Dicam intellegebat no vel, nobis soleat tincidunt vix et. Quo eu doming noster, vis te dictas nominati.</p>
	<p>Debet comprehensam et vix, eos an brute reque mundi. Pri eu iudico lucilius, dolor soleat ne sed, pro ei debitis civibus convenire. Ut temporibus consectetuer has, ea tale dicant perpetua pro. Cu vel honestatis quaerendum, no dolor ignota meliore has.</p>
</div>
<hr>
<div>
	<div class="bbq">
	<h2>True Barbeque</h2>
	<img src="img/cow.png" alt="">
	<span>Come see our amazing cow! He's SOOOOO good!
		Mea ne soluta vocent, eum quem appellantur ut.
	</span>
</div>
<div class="news-update">
	<h2>News Update</h2>
	<span>Dancing chicken dies in tragic blacksmithing accident. 
		Lorem ipsum dolor sit amet, vel maiorum antiopam ad, vim ad vidit rebum moderatius, eos homero laudem lucilius et.
	</span>
</div>
<div class="friends-third">
	<h2>Our Friends</h2>
	<ul>
		<li>John Lennon</li>
		<li>Paul McCartney</li>
		<li>George Harrison</li>
		<li>Ringo Starr</li>
	</ul>
</div>
</div>
<footer>
	<hr>
	<p><i class="fa fa-copyright"></i>Example Page 2012</p>
</footer>

