<h1>Hello</h1>
<header>
	<span>Home</span>
	<span>About</span>
	<span>Portfolio</span>
	<span>Blog</span>
	<span>Contact</span>
</header>
<div>
	<h1>ExamplePage</h1>
	<h3>Lorem ipsum dolor sit amet, ceteros perpetua vim id.</h3>
	<img src="img/bird.png" alt="">
</div>
<hr>
<div>
	<div class="flexslider">
  		<ul class="slides">
    		<li>
      			<img src="img/slide1.jpg" />
    		</li>
   			<li>
    			<img src="img/slide2.jpg" />
   			</li>
   			<li>
    			<img src="img/slide3.jpg" />
   			</li>
  		</ul>
	</div>
<div>
	<h1>Tangentially-Related Content</h1>
	<p>Lorem ipsum dolor sit amet, usu te quem persius docendi, in phaedrum torquatos ius. Eu sea purto duis efficiantur. Mazim timeam sed et, eu eos etiam deleniti, ut solet aliquip vituperata duo. Id novum conceptam ius, ut vidit maiestatis quaerendum vel. Erat petentium vis ne, vim in repudiare 	   referrentur. Dicam intellegebat no vel, nobis soleat tincidunt vix et. Quo eu doming noster, vis te dictas nominati.</p>
	<p>Debet comprehensam et vix, eos an brute reque mundi. Pri eu iudico lucilius, dolor soleat ne sed, pro ei debitis civibus convenire. Ut temporibus consectetuer has, ea tale dicant perpetua pro. Cu vel honestatis quaerendum, no dolor ignota meliore has.</p>
</div>
<hr>
<div>
	<h2>True Barbeque</h2>
	<img src="img/cow.png" alt="">
	<span>Come see our amazing cow! He's SOOOOO good!
		Mea ne soluta vocent, eum quem appellantur ut.
	</span>
</div>
<div>
	<h2>News Update</h2>
	<span>Dancing chicken dies in tragic blacksmithing accident. 
		Lorem ipsum dolor sit amet, vel maiorum antiopam ad, vim ad vidit rebum moderatius, eos homero laudem lucilius et.
	</span>
</div>
<div>
	<h2>Our Friends</h2>
	<ul>
		<li>John Lennon</li>
		<li>Paul McCartney</li>
		<li>George Harrison</li>
		<li>Ringo Starr</li>
	</ul>
</div>
<hr>
<span><i class="fa fa-copyright"></i>Example Page 2012</span>
</div>